@import url("https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.css");

.custom-pagination {
    position: absolute;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 5px;
    z-index: 10;
  }

  .custom-pagination.swiper-pagination-hidden {
    opacity: 0;
  }

.swiper-pagination-bullet {
    opacity: .5;
    background: white;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #FFF96B;
}

.button-prev,
.button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.button-prev.swiper-button-disabled,
.button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.button-prev,
.swiper-container-rtl .button-next {
  filter: brightness(0) invert(1);
  left: 25px;
  right: auto;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.button-next,
.swiper-container-rtl .button-prev {
  filter: brightness(0) invert(1);
  right: 25px;
  left: auto;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
}